In [1]:
def my_sq(x):
    return x ** 2

In [7]:
def my_sq(x, n=2):
    return x ** n

In [19]:
def my_exp(x, n):
    return x ** n

In [8]:
print(my_sq(4))

16

In [12]:
print(my_sq(2, 5))

32

In [14]:
import pandas as pd

df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]}) 

print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [15]:
print(df['a'] ** 2)

0    100
1    400
2    900
Name: a, dtype: int64

In [16]:
sq = df['a'].apply(my_sq) 
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [17]:
ex = df['a'].apply(my_exp, n=2) 
print(ex)

0    100
1    400
2    900
Name: a, dtype: int64

In [18]:
ex = df['a'].apply(my_exp, n=3) 
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [20]:
df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]}) 
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [21]:
def print_me(x): 
    print(x)

In [22]:
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [23]:
print(df['a'])

0    10
1    20
2    30
Name: a, dtype: int64

In [24]:
print(df['b'])

0    20
1    30
2    40
Name: b, dtype: int64

In [25]:
def avg_3(x, y, z):
    return (x + y + z) / 3

In [26]:
print(df.apply(avg_3)) # 3개의 인자값을 보내줘야 한다는 에러

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [27]:
def avg_3_apply(col):
    x = col[0] 
    y = col[1] 
    z = col[2] 
    return (x + y + z) / 3 ##에러를 해결하기 위해 avg3의 함수를 수정한 함수


print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

In [29]:
def avg_3_apply(col):
    sum = 0
    for item in col:
         sum += item
    return sum / df.shape[0] ## 행 갯수

In [30]:
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
    return sum / df.shape[1] ## 열 갯수

In [31]:
print(df.apply(avg_2_apply, axis = 1))

0    15.0
1    25.0
2    35.0
dtype: float64

In [35]:
import seaborn as sns

titanic = sns.load_dataset("titanic")  ## seaborn의 타이타닉 데이터셋

In [33]:
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [34]:
import numpy as np

def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec) # 누락값의 개수를 구한다
    return null_count

In [36]:
cmis_col = titanic.apply(count_missing) # 누락값을 처리하고 apply 메소드 적용
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [37]:
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size 
    return num / dem # 누락값이 비율을 계산하고 반환

In [38]:
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

In [39]:
def prop_complete(vec):
    return 1 - prop_missing(vec) # 누락값이 아닌 데이터의 비율을 계산

In [40]:
pmis_col = titanic.apply(prop_complete)
print(pmis_col)

survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

In [41]:
cmis_row = titanic.apply(count_missing, axis=1) # apply axis =1 을 주면 행방향으로 연산해주
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

print(cmis_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [45]:
print(pmis_row.head())

0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64

In [46]:
print(pcom_row.head())

0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [47]:
titanic['num_missing'] = titanic.apply(count_missing, axis=1)

print(titanic.head()) # 누락값의 갯수를 titianic의 하나의 열로 추가

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

In [48]:
print(titanic.loc[titanic.num_missing > 1, :].sample(10)) # 누락값이 1초과인 10개의 샘플데이터

     survived  pclass     sex  age  sibsp  parch     fare embarked  class  \
82          1       3  female  NaN      0      0   7.7875        Q  Third
367         1       3  female  NaN      0      0   7.2292        C  Third
629         0       3    male  NaN      0      0   7.7333        Q  Third
46          0       3    male  NaN      1      0  15.5000        Q  Third
270         0       1    male  NaN      0      0  31.0000        S  First
639         0       3    male  NaN      1      0  16.1000        S  Third
589         0       3    male  NaN      0      0   8.0500        S  Third
507         1       1    male  NaN      0      0  26.5500        S  First
95          0       3    male  NaN      0      0   8.0500        S  Third
368         1       3  female  NaN      0      0   7.7500        Q  Third

       who  adult_male deck  embark_town alive  alone  num_missing
82   woman       False  NaN   Queenstown   yes   True            2
367  woman       False  NaN    Cherbourg   yes   True            2
629    man        True  NaN   Queenstown    no   True            2
46     man        True  NaN   Queenstown    no  False            2
270    man        True  NaN  Southampton    no   True            2
639    man        True  NaN  Southampton    no  False            2
589    man        True  NaN  Southampton    no   True            2
507    man        True  NaN  Southampton   yes   True            2
95     man        True  NaN  Southampton    no   True            2
368  woman       False  NaN   Queenstown   yes   True            2