In [1]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [2]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [3]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s) ## 인덱스를 0과 1에서 person과  who로 바꿈

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [4]:
scientists = pd.DataFrame({ 
    'Name': ['Rosaline Franklin', 'William Gosset'], 
    'Occupation': ['Chemist', 'Statistician'], 
    'Born': ['1920-07-25', '1876-06-13'], 
    'Died': ['1958-04-16', '1937-10-16'], 
    'Age': [37, 61]}) 
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [5]:
scientists = pd.DataFrame( 
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Age', 'Died']) 
print(scientists)
##바로 위에 있는 코드와 가리키는 내용은 같지만 인덱스를 name으로 둠

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [6]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([ 
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']), 
    ('Born', ['1920-07-25', '1876-06-13']), 
    ('Died', ['1958-04-16', '1937-10-16']), 
    ('Age', [37, 61])])) 
##OrderDict 사용 ' : ' 안쓰게됨
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터 프레임에서 시리즈 선택

In [13]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age']) 
first_row = scientists.loc['William Gosset'] 
print(type(first_row),"\t")
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index,values 속성과 keys 메소드 사용

In [14]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [15]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [16]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [17]:
print(first_row.index[0]) ##index속성에서 제일 앞에있는 Occupation  추출

Occupation

In [18]:
print(first_row.keys()[0]) ##keys메소드에서 가장 앞에있는 Occupaiton 추출

Occupation

# mean min max std 메소드 사용

In [19]:
ages = scientists['Age'] 
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [24]:
print(int(ages.mean()))

49

In [21]:
print(ages.min())

37

In [22]:
print(ages.max())

61

In [23]:
print(ages.std()) ## ages의 표준편차 계산

16.97056274847714

# 시리즈와 불린 추출 사용

In [114]:
scientists = pd.read_csv('scientists.csv')
ages = scientists['Age'] 

print(ages.max())

90

In [50]:
print(ages.mean())

59.125

In [51]:
print(ages[ages > ages.mean()]) ##평균보다 큰 ages만 출력

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [52]:
print(ages > ages.mean()) ##평균보다 큰 ages만 출력 (boolean값으로)

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [54]:
print(type(ages > ages.mean()))
manual_bool_values = [True, True, False, False, True, True, False, True] 
print(ages[manual_bool_values]) ##True인 ages들만 출력

<class 'pandas.core.series.Series'>
0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 벡터와 스칼라로 브로드캐스팅 수행

In [55]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [56]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [57]:
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [58]:
print(ages * 2) ## == ages + ages

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [59]:
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [60]:
print(ages + pd.Series([1, 100])) ##누락값 NaN not a number

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [61]:
rev_ages = ages.sort_index(ascending=False) 
print(rev_ages) ##역순정렬

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [64]:
print(ages + rev_ages) ##역순정렬이여도 index끼리의 합은 그대로

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 불린 추출과 브로드캐스팅

In [65]:
print(scientists[scientists['Age'] > scientists['Age'].mean()])
##나이가 평균이상인 인덱스들만 프린트

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [105]:
boolean_list = [True, True, False,True,False,True,False,True]
print(scientists.loc[boolean_list])
##교재대로 실행시 Boolean index가 8이 아니라서 실행이 되지 않았음

                Name        Born        Died  Age     Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37        Chemist
1     William Gosset  1876-06-13  1937-10-16   61   Statistician
3        Marie Curie  1867-11-07  1934-07-04   66        Chemist
5          John Snow  1813-03-15  1858-06-16   45      Physician
7       Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [90]:
print(scientists * 2) ##데이터프레임에 스칼라연산, 정수형은 2배 문자열은 2배

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

In [106]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype) #object는 파이썬의 문자열취급

object
object

In [107]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d') 
print(born_datetime) #born데이터를 받아서 정해진 format으로 출력

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [115]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime) ##born과 마찬가지로 died도 정해진 format으로 출력
print(scientists.shape)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]
(8, 5)

In [117]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head()) ##데이터프레임에 새로운 열을 추가

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [118]:
print(scientists.shape) ##8행 7열

(8, 7)

In [119]:
scientists['age_days_dt'] = (scientists['died_dt'] - \
                             scientists['born_dt'])
print(scientists)
##생애를 계산하여 새로운 열로 추가

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [120]:
print(scientists['Age']) ##나이출력

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [124]:
import random

random.seed(42) ##42시드는 항상 동일한 값을 얻음
random.shuffle(scientists['Age']) ##값을 뒤섞게됨
print(scientists['Age'])

0    56
1    37
2    77
3    90
4    66
5    45
6    61
7    41
Name: Age, dtype: int64

In [125]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [126]:
scientists_dropped = scientists.drop(['Age'], axis=1)

print(scientists_dropped.columns) ##Age열 삭제

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 데이터를 피클,csv,tsv 파일로 저장하고 불러오기

In [127]:
names = scientists['Name']

In [128]:
names.to_pickle('scientists_names_series.pickle') ##names를 따로 피클로 저장

In [129]:
scientists.to_pickle('scientists_df.pickle') #사이언티스트.csv를 피클 파일로 저장

In [131]:
scientist_names_from_pickle = pd.read_pickle('scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [132]:
scientists_from_pickle = pd.read_pickle('scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   56             Chemist
1        William Gosset  1876-06-13  1937-10-16   37        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   77               Nurse
3           Marie Curie  1867-11-07  1934-07-04   90             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   66           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   61  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days